PORT=3001
HOST=0.0.0.0
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=sua_senha
DB_NAME=seu_banco

DATABASE_URL=postgres://user:password@db_chatbot:5432/seubanco

TELEGRAM_API_URL=http://telegram-bot:3002
WHATSAPP_API_URL=http://chatbot-erp:3000

SEND_TELEGRAM_MESSAGE_URL=http://telegram-bot:3002/send-message
SEND_WHATSAPP_MESSAGE_URL=http://chatbot-erp:3000/instances

SOCKET_IO_CORS_ORIGIN=*

CORS_ORIGIN=*

DEFAULT_FUNIL_ID=1

LOG_LEVEL=info

WEBHOOK_ROUTE=/webhook

REQUEST_TIMEOUT=15000